Repository IHE/sdpi-fhir, pull requests merged in 2022-12, with the labels that each got.

#163 IHE DEC Gateway - first draft ready for review
  SDPi_Supplement/asciidoc-converter/src/main/kotlin/org/sdpi/asciidoc/BlockAttribute.kt
  SDPi_Supplement/asciidoc-converter/src/main/kotlin/org/sdpi/asciidoc/extension/RequirementsBlockProcessor.kt
  SDPi_Supplement/asciidoc-converter/src/main/kotlin/org/sdpi/asciidoc/model/SdpiRequirement.kt
  SDPi_Supplement/asciidoc/volume1/tf1-ch-b-ref-standards-conformance.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-acm.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-dec.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-msh-mapping.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-obx18-mapping.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-pid-mapping.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-private-mdc-mapping.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-pv1-mapping.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-v2.adoc
Labels: SDPi Specification, SDPi Gateway

#207 Fix Asciidoc error checker; prefix may change.
  SDPi_Supplement/asciidoc-converter/src/main/kotlin/org/sdpi/asciidoc/AsciidocErrorCheck.kt
Labels: bug

#213 Uncomment commented summary include for existing DEVs.
  SDPi_Supplement/asciidoc/volume0/tf0-ch-b-transactions.adoc
Labels: SDPi Spec Fix

#217 211 add biceps module physiologic monitor
  .github/workflows/compile-supplement.yml
  SDPi_Supplement/asciidoc/listings/vol3_clause_sdc_biceps_content_module_physio_monitor_snippet1.xml
  SDPi_Supplement/asciidoc/plantuml/vol3-figure-biceps-content-module-physiomon.puml
  SDPi_Supplement/asciidoc/volume3/tf3-ch-8.7.3-physiologic-monitor.adoc
  SDPi_Supplement/listings/vol3_clause_sdc_biceps_content_module_physio_monitor_snippet1.xml
Labels: SDPi Specification

#182 IHE ACM Gateway - first draft ready for review
  SDPi_Supplement/asciidoc/volume0/tf0-ch-d-glossary.adoc
  SDPi_Supplement/asciidoc/volume1/tf1-ch-b-ref-standards-conformance.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-acm.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-dec.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-msh-mapping.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-obx18-mapping.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-obx3-mapping.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-obx4-mapping.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-pid-mapping.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-pv1-mapping.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-v2.adoc
Labels: SDPi Specification, SDPi Gateway
