Repository IHE/sdpi-fhir, pull requests merged in 2023-02, with the labels that each got.

#316 Corrected mapping error for OBX-20 body site.
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-dec.adoc
Labels: SDPi Development, SDPi Gateway, SDPi 1.0

#371 Updated section OBR-7 Observation Date/Time (R8006 & R8007)
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-dec.adoc
Labels: SDPi Review Comment, SDPi Gateway, SDPi 1.0

#378 Updated Comments column in table OBR-7 Metric Measurement TS Mapping
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-dec.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-obx3-mapping.adoc
Labels: SDPi Gateway, SDPi 1.0

#386 Corrected minor issues as listed in issue #372.
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-dec.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-obx3-mapping.adoc
Labels: SDPi Review Comment, SDPi Gateway, SDPi 1.0

#394 Converted Todos into Version Notes or Reviewer Questions
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-dec.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-obx18-mapping.adoc
Labels: SDPi Review Comment, SDPi Gateway, SDPi 1.0

#393 Refine requirements for BodySite - OBX-20 Mapping
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-dec.adoc
Labels: SDPi Review Comment, SDPi Gateway, SDPi 1.0

#397 315 complete tf 1 overview section content
  SDPi_Supplement/asciidoc/sdpi-supplement.adoc
  SDPi_Supplement/asciidoc/volume1/tf1-ch-2-overview.adoc
  SDPi_Supplement/asciidoc/volume1/use-cases/tf1-ch-c-use-case-aars.adoc
Labels: SDPi Specification, SDPi 1.0

#390 Added compliance with R8017 and R8017 for the metrics
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-dec.adoc
Labels: SDPi Review Comment, SDPi Gateway, SDPi 1.0

#389 Replace all "shall" keywords by something else
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-acm.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-pid-mapping.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-private-mdc-mapping.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-pv1-mapping.adoc
Labels: SDPi Review Comment, SDPi Gateway, SDPi 1.0

#402 Added requirements R8077 & R8078.
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-acm.adoc
Labels: SDPi Review Comment, SDPi Gateway, SDPi 1.0

#401 Added HL7 logo to title page (1st pass)
  SDPi_Supplement/asciidoc/docinfo.html
  SDPi_Supplement/asciidoc/images/hl7-intl-logo.svg
  SDPi_Supplement/asciidoc/images/hl7-intl-logo.svg.original
  SDPi_Supplement/asciidoc/images/ihe-logo.svg
  SDPi_Supplement/asciidoc/images/ihe-logo.svg.original
  SDPi_Supplement/asciidoc/sdpi-supplement.adoc
Labels: SDPi Specification, SDPi Review Comment, SDPi 1.0

#408 Resolved all #TODOs to Comment blocks
  SDPi_Supplement/asciidoc/sdpi-supplement-intro.adoc
  SDPi_Supplement/asciidoc/volume0/tf0-ch-a-actors.adoc
  SDPi_Supplement/asciidoc/volume0/tf0-ch-d-glossary.adoc
  SDPi_Supplement/asciidoc/volume1/tf1-ch-10-sdpi-p.adoc
  SDPi_Supplement/asciidoc/volume1/tf1-ch-11-sdpi-r.adoc
  SDPi_Supplement/asciidoc/volume1/tf1-ch-12-sdpi-a.adoc
  SDPi_Supplement/asciidoc/volume1/tf1-ch-13-sdpi-xc.adoc
  SDPi_Supplement/asciidoc/volume1/tf1-ch-a-requirements-interoperability.adoc
  SDPi_Supplement/asciidoc/volume1/tf1-ch-b-ref-standards-conformance.adoc
  SDPi_Supplement/asciidoc/volume1/use-cases/tf1-ch-c-60601-1-8.adoc
  SDPi_Supplement/asciidoc/volume1/use-cases/tf1-ch-c-use-case-ddes.adoc
  SDPi_Supplement/asciidoc/volume1/use-cases/tf1-ch-c-use-cases.adoc
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-acm.adoc
  SDPi_Supplement/asciidoc/volume3/tf3-ch-8.3.2-biceps-content.adoc
  SDPi_Supplement/asciidoc/volume3/tf3-main.adoc
Labels: SDPi Review Comment, SDPi 1.0

#395 362 security insufficiently addressed in sdpi 10
  SDPi_Supplement/asciidoc/document-declarations.adoc
  SDPi_Supplement/asciidoc/volume1/tf1-ch-10-sdpi-p.adoc
  SDPi_Supplement/asciidoc/volume1/tf1-ch-11-sdpi-r.adoc
  SDPi_Supplement/asciidoc/volume1/tf1-ch-12-sdpi-a.adoc
  SDPi_Supplement/asciidoc/volume1/tf1-ch-13-sdpi-xc.adoc
  SDPi_Supplement/asciidoc/volume1/tf1-ch-a-requirements-interoperability.adoc
  SDPi_Supplement/asciidoc/volume2/dev-23/tf2-dev-23.adoc
  SDPi_Supplement/asciidoc/volume2/dev-24/tf2-dev-24.adoc
  SDPi_Supplement/asciidoc/volume2/dev-25/tf2-dev-25.adoc
  SDPi_Supplement/asciidoc/volume2/dev-27/tf2-dev-27.adoc
  SDPi_Supplement/asciidoc/volume2/dev-28/tf2-dev-28.adoc
  SDPi_Supplement/asciidoc/volume2/dev-29/tf2-dev-29.adoc
  SDPi_Supplement/asciidoc/volume2/dev-30/tf2-dev-30.adoc
  SDPi_Supplement/asciidoc/volume2/dev-34/tf2-dev-34.adoc
  SDPi_Supplement/asciidoc/volume2/dev-35/tf2-dev-35.adoc
  SDPi_Supplement/asciidoc/volume2/dev-36/tf2-dev-36.adoc
  SDPi_Supplement/asciidoc/volume2/dev-37/tf2-dev-37.adoc
  SDPi_Supplement/asciidoc/volume2/dev-38/tf2-dev-38.adoc
  SDPi_Supplement/asciidoc/volume2/dev-39/tf2-dev-39.adoc
  SDPi_Supplement/asciidoc/volume2/dev-40/tf2-dev-40.adoc
  SDPi_Supplement/asciidoc/volume2/dev-x-default-ses-secured-mode.adoc
  SDPi_Supplement/asciidoc/volume2/dev-x-default-ses-unsecured-mode.adoc
  SDPi_Supplement/asciidoc/volume2/tf2-ch-a-mdpws.adoc
  SDPi_Supplement/asciidoc/volume3/tf3-ch-8.3.2-biceps-content.adoc
Labels: SDPi Review Comment, SDPi 1.0

#403 Allow for MDCX_ and MDC_PRIVATE_ RefIds.
  SDPi_Supplement/asciidoc/volume2/gateways/tf2-ch-b-gateway-private-mdc-mapping.adoc
Labels: SDPi Review Comment, SDPi Gateway, SDPi 1.0

#411 410 tf 1 profiles core content needs to be completed
  SDPi_Supplement/asciidoc/document-declarations.adoc
  SDPi_Supplement/asciidoc/images/vol1-diagram-sdpi-a-actor.svg
  SDPi_Supplement/asciidoc/images/vol1-diagram-sdpi-r-actor.svg
  SDPi_Supplement/asciidoc/sdpi-supplement.adoc
  SDPi_Supplement/asciidoc/volume0/tf0-ch-a-actors.adoc
  SDPi_Supplement/asciidoc/volume0/tf0-ch-b-transactions.adoc
  SDPi_Supplement/asciidoc/volume0/tf0-ch-d-glossary.adoc
  SDPi_Supplement/asciidoc/volume1/tf1-ch-10-sdpi-p.adoc
  SDPi_Supplement/asciidoc/volume1/tf1-ch-11-sdpi-r.adoc
  SDPi_Supplement/asciidoc/volume1/tf1-ch-12-sdpi-a.adoc
  SDPi_Supplement/asciidoc/volume1/tf1-ch-13-sdpi-xc.adoc
  SDPi_Supplement/asciidoc/volume1/tf1-ch-2-overview.adoc
  SDPi_Supplement/asciidoc/volume2/dev-23/tf2-ch-a-mdpws-dev-23.adoc
  SDPi_Supplement/asciidoc/volume2/dev-23/tf2-dev-23-summary.adoc
  SDPi_Supplement/asciidoc/volume2/dev-23/tf2-dev-23.adoc
  SDPi_Supplement/asciidoc/volume2/dev-24/tf2-ch-a-mdpws-dev-24.adoc
  SDPi_Supplement/asciidoc/volume2/dev-24/tf2-dev-24-summary.adoc
  SDPi_Supplement/asciidoc/volume2/dev-24/tf2-dev-24.adoc
  SDPi_Supplement/asciidoc/volume2/dev-28/tf2-ch-a-mdpws-dev-28.adoc
  SDPi_Supplement/asciidoc/volume2/dev-28/tf2-dev-28-summary.adoc
  SDPi_Supplement/asciidoc/volume2/dev-28/tf2-dev-28.adoc
  SDPi_Supplement/asciidoc/volume2/dev-29/tf2-ch-a-mdpws-dev-29.adoc
  SDPi_Supplement/asciidoc/volume2/dev-29/tf2-dev-29-summary.adoc
  SDPi_Supplement/asciidoc/volume2/dev-29/tf2-dev-29.adoc
  SDPi_Supplement/asciidoc/volume2/tf2-ch-a-mdpws.adoc
  SDPi_Supplement/asciidoc/volume3/biceps-content-module/tf3-ch-8.3.2.7-applicable-attribute-type-codes.adoc
  SDPi_Supplement/asciidoc/volume3/biceps-content-module/tf3-ch-8.3.2.7-applicable-productions-specification-type-codes.adoc
  SDPi_Supplement/asciidoc/volume3/biceps-extension-provisions/tf3-ch-8.3.2.7-extension-coded-attribute.adoc
  SDPi_Supplement/asciidoc/volume3/biceps-extension-provisions/tf3-ch-8.3.2.8-extension-gender.adoc
  SDPi_Supplement/asciidoc/volume3/mdib-report-retrofit/tf3-ch-8.3.2.9-mdib-report-retrofit.adoc
  SDPi_Supplement/asciidoc/volume3/tf3-ch-8.3.2-biceps-content.adoc
  SDPi_Supplement/sources/vol1-diagram-sdpi-a-actor.pptx
  SDPi_Supplement/sources/vol1-diagram-sdpi-r-actor.pptx
Labels: SDPi Review Comment, SDPi 1.0
